<h1>Calendar</h1>

<select id="rooms">
    <option id="as" value="as">AS Conference Room</option>
    <option id="rm11" value="rm11">Room 11</option>
    <option id="cslab" value="cslab">CS Lab</option>
    <option id="mpb" value="mpb">MPB</option>
</select> 